*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: sans-serif;
}

.headerContainer{
	width: 100%;
	height: 80px;
	background-color: #dfeefa;
	display: flex;
	align-items: center;
	flex-direction: row;
}
.iconContainer{
	width: 55px;
	height: 50px;
	border-radius: 100%;
	background-color: #fff;
	margin: 0 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.iconContainer img{
	width: 40px;
	height: 40px;
	padding: 0px;
	margin: 0px;
}
.navContainer{
	width: 100%;
}
.nav{
	float: right;
	margin: 0 10px;
}
.ulNav{
	display: flex;
	flex-direction: row;
}
.ulNavLi{
	list-style: none;
	margin: 0 15px;
}
.ulNavLi a{
	text-decoration: none;
	color: #232323;
	font-size: 25px;
	font-weight: 700;
}

.ChangeColorContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-inline: 5px 30px;
	
}
.btnChangeColor{
	width: 40px;
	height: 40px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #232323;
	border: 2px solid #fff;
}
.fa-moon{
	font-size: 20px;
	color: rgb(255, 255, 255);
}
.fa-sun{
	font-size: 20px;
	color: rgb(255, 255, 255);
}
main{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
}
.firstSectionContainer{
	width: 1200px;
	height: 90vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.box-container{
	width: 480px;
	height: 480px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.item{
	width: 400px;
	height: 400px;
	background-color: #fff;
	border: 18px solid #232323;
	position: absolute;
	margin-left: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.item img{
	width: 350px;
	height: 350px;
}
.containerEyes{
	width: 159px;
	height: 79px;
	position: absolute;
	margin: 0 0 132px 21px;
	border-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.box{
	display: flex;
}
.box .eye{
	position: relative;
	width: 90px;
	height: 120px;
	display: block;
	border-radius: 60px;
}
.eye::before{
	content: '';
	position: absolute;
	top: 50%;
	left: 35px;
	transform: translate(-50%,-50%);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #050505;
}

.shadowBox-item{
	width: 390px;
	height: 400px;
	background-color: #fff;
	border: 9px solid #232323;
	margin: 80px 0px 0px 0px;
}

.description{
	width: 480px;
	height: 480px;
	padding: 80px 30px;
	margin-right: 100px;
}
.description-title{
	font-size: 40px;
	margin: 20px 0;
	color: #000;
}
.description-text{
	font-size: 20px;
	color: #000;
}



/*---MODO OSCURO DEL HEADER*/
.nocturneHeader{
	background-color: #3a3636;
}

.nocturneHeader a{
	color: #fff;
}

/*---MODO OSCURO DEL MAIN*/
.nocturneMain{
	background-color: #232323;
}
.nocturneMain p, .nocturneMain h2{
	color: #FFF;
}
.nocturneMain .item{
	background-color: #232323;
	border: 18px solid #f1f1f1;
}
.nocturneMain .shadowBox-item{
	border-color: #fff;
	background-color: #232323;
}
.nocturneMain .ninjaimg{
	filter: invert(100%);
}
.nocturneMain .eye::before{
	background-color: #f1f1f1;
}